<%-include("header");-%>
<div class="container">
  <h3 class="mt-4">About</h3>
  <br>
  <p class="textdiv">This is an exciting website where you can write down your emotions,
    feelings, routine life, events, remainders and much more. This is your personal diary
    and everything you write is displayed on the main home page so you keep seeing what
    have you been writing so far.</p>
</div>


<%-include("footer");-%>
