<%- include("header"); -%>

<div class="container">
  <h3 class="mt-4">Compose</h3>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label for="comment">Post</label>
        <textarea class="form-control" rows="5" name="body"></textarea>
      </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </form>
</div>


<%-include("footer")-%>
