<%-include("header");-%>
<div class="container">
  <h3 class="mt-4">Contact us </h3>
  <br>
  <p class="contactdetails journalbodydiv">
   email us at  <b>dailyjournal@gmail.com</b>  <br>
   like us on facebook at <b>facebook/dailyjournal.com</b>  <br>
   follow us on Instagram, twitter
  </p>
</div>


<%-include("footer");-%>
