<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
<div class="navDiv">
  <nav class="navbar navbar-expand navbar-light container ">
    <a class="navbar-brand" href="/home">Daily Journal</a>
      <div class="navbar-nav moveRight">
        <a class="nav-item nav-link" href="/home">Home</a>
        <a class="nav-item nav-link" href="/about">About us</a>
        <a class="nav-item nav-link" href="/contact">Contact us </a>
     </div>
  </nav>
</div>
